body {
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #DFDFDF;
}

img {
    margin-left: 30px;
    width: 200px;
    height: 60px;
    display: flex;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #A9AAB1;
}

nav li {
    display: inline-block;
    margin: 0 3px;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

main {
    background-color: #265366;
    width: auto;
    height: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.motto {
    color: #D2E1E4;
    font-size: 30px;
}

footer {
    background-color: #F5F5F5;
    width: auto;
    height: 150px;
    display: flex;
}

.right {
    width: 30%;
    height: 150px;
    background-color: #F5F5F5;
    margin-left: 40px;
    margin-right: 20px;
    flex-direction: column;
    padding-top: 20px;
    color: #A9AAB1;
}

.right ul {
    flex-direction: column;
    font-size: 15px;
    margin: 0px;
    padding-top: 30px;
    text-align: right;
}

.center {
    width: 40%;
    height: 150px;
    background-color: #F5F5F5;
    display: flex;
}

.right>p {
    text-align: justify;
}

.right ul li {
    flex-direction: column;
    text-align: right;
}

.center img {
    padding-top: 50px;
}
